html, body{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

/* Header Bar with logo and menu */
.headerBar{
    width: 100%;
    background-color:white;
    padding: 5px;
    line-height: auto;
}

.headerButton{
    color: #004e38;
}

a.headerButton{
    padding: 8px;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
    color: #004e38;
    transition: color 0.5s;
    position: relative;
}

a.headerButton:hover{
    color: #c4b581;
}

img.headerButton{
    display: inline-block;
    padding: 10px;
    height: 40px;
    vertical-align: middle;
    transition-property: background-color;
    transition-duration: 0.5s;
}

img.headerButton:hover{
    background-color: #c4b581;
}

.buttonGroup{
    float: right;
    margin-right: 100px;
    margin-top: 20px;
}
/* UTAPS splash image with text*/
.splashImage{
    position: relative;
}
img.splashImage{
    min-width: 100%;
    max-height: 300px;
    writing-mode: vertical-rl;
    display: block;
    margin: 0%;
    object-fit: cover;
}

.topLeft {
    position: absolute;
    top: 35px;
    left: 18px;
    font-size: 40px;
    font-weight: bold;
    color:  #c4b581;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    background-color: #004e38;
    padding: 10px;
}

/*Landing page and links area*/
.prompt{
    background-color: rgb(0, 46, 35);   /*Redwood Grove Green*/
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 30px;
    font-size: 50px;
    color: #c4b581;         /*White Birch*/
}

.linkHolderMain{
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 50px;
    padding-top: 0;
}

.linkHolder{
    display: inline-table;
    font-size: 30px;
    text-align: center;
    width: 30%;
    padding: 10px;
    height: auto;
    margin-top: 50px;
    color: #004e38;
    background-color: #c4b581;
}

.linkHolderMenu{
    padding: 0;
}
.linkHolderMenu li{
    display: block;
    padding: 5px;
    font-size: 30px;
    font-weight: 1000;
    width: 90%;
    margin: auto;
}

.linkHolderMenu a{
    text-decoration: none;
    color: #004e38;
    transition: color 0.5s;
}

.linkHolderMenu li:hover a{
    color: #006472;
}

/* Info Group */
.infoGroup{
    width: 100%;
    margin: 0px;
}

.oneEntry{
    width: 90%;
    background-color: rgb(0, 46, 35);
    padding-left: 10%;
    padding-right: 10%;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: 1px solid black;
}

.oneEntry img{
    display: inline-block;
    width: 10%;
}

.oneEntry ul{
    display: inline-block;
    width: 80%;
    line-height: 40px;
}

.oneEntry ul li{
    float: left;
}

.imgLeft ul li{
    float: right;
}
