html, body{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

/* Header Bar with logo and menu */
.headerBar{
    width: 100%;
    background-color:white;
    padding: 30px;
    line-height: 100px;
}

.headerButton{
    margin: auto;
    color: #004e38;
}

a.headerButton{
    padding: 8px;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
    color: #004e38;
    transition: color 0.5s;
}

a.headerButton:hover{
    color: #c4b581;
}

img.headerButton{
    display: inline-block;
    padding: 10px;
    height: 40px;
    vertical-align: middle;
    margin-right: 70%;
    transition-property: background-color;
    transition-duration: 0.5s;
}

img.headerButton:hover{
    background-color: #c4b581;
}

/* UTAPS splash image with text*/
.splashImage{
    position: relative;
}
img.splashImage{
    max-width: 100%;
    display: block;
    margin: auto;
}

.topLeft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 40px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: yellow;
}

/*Landing page and links area*/
.prompt{
    background-color: orange;
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 30px;
    font-size: 50px;
}

.linkHolderMain{
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 50px;
    margin-bottom: 750px;
    padding-top: 0;
}

.linkHolder{
    display: inline-table;
    font-size: 30px;
    text-align: center;
    width: 30%;
    padding: 10px;
    height: auto;
    margin-top: 50px;
    color: #004e38;
    background-color: #c4b581;
}

.linkHolderMenu{
    padding: 0;
}
.linkHolderMenu li{
    display: block;
    padding: 5px;
    font-size: 30px;
    font-weight: 1000;
    width: 90%;
    margin: auto;
}

.linkHolderMenu a{
    text-decoration: none;
    color: #004e38;
    transition: color 0.5s;
}

.linkHolderMenu li:hover a{
    color: #006472;
}